@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
body{
    color:#331F19;
    background-color: #F0FFFF; 
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}
header{
    padding: 2rem;
    background-color: #331F19;
    color: #b4e2b4;
    text-align: center;
}
main{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
h2{
    font-size: 1.4rem;
}
input[type="radio"], input[type="checkbox"]{
    accent-color: #a1be94;
}
input[type="text"], [type="password"], [type="email"], [type="date"]{
    width: 100%;
    padding: 0.6rem;
    border: 2px solid #a1be94;
    border-radius: 7px;
}
input::placeholder{
    color: #331F19 ;
}
select{
    cursor: pointer;
    background-color: #b3d4a4;
    color: #331F19;
    border-radius: 7px;
    outline: none;
}
img{
    width: 15rem;
    border-radius: 7px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th{
    background-color: #a1be94;
    padding: 0.5rem;
}

td{
    color: #331F19;
    padding: 0.5rem;
    text-align: center;
}
tfoot td{
    color: white ;
    background-color: #331F19;
}
details{
    padding: 2rem;
    background-color: #a1be94;
    border-radius: 7px;
}
summary{
    color: #331F19;
    margin: 0.5rem;
    cursor: pointer;
}
ol{
    margin-left: 0.5rem;
}
ol li{
    padding: 0.2rem;
}
fieldset{
    border: 2px solid #a1be94;
    border-radius: 7px;
    padding: 1rem;
}
legend{
    text-align: center;
    color: #331F19;
    background-color: #a1be94;
    font-size: 1.2rem;
    padding: 0 0.5rem;
}
textarea{
    width: 100%;
    border: 2px solid #a1be94;
    border-radius: 7px;
    padding: 0.6rem;
}
textarea::placeholder{
    color: #331F19;
    font-family: sans-serif;
}
button{
    background-color: #a1be94;
    border: none;
    padding: 0.5rem;
    color: #331F19;
    border-radius: 7px;
    cursor: pointer;
}
footer{
    padding: 2rem;
    background-color: #331F19;
}
.pfooter{
    text-align: center;
    color: white
}
.cliqueaqui{
    text-decoration: none;
    color: #b4e2b4;
}
.abv{
    text-decoration: none;
}
